@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background-image: url(../img/download.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center -500px;
}

.cabecalho-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    font-weight: 600;
    padding: 0px 52.8px ; 
}

ul{
    display: flex;
}

li{
    display: inline-block;
}

li a{
    color: #212121;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sub-menu-motorista, .sub-menu-99pay, .sub-menu-conteudo, .sub-menu-sobre, .sub-menu-passageiro, .sub-menu-ajuda, .sub-menu-empresas{padding: 20px 24px 20px 16px;}

.sub-menu-motorista:hover, .sub-menu-99pay:hover, .sub-menu-conteudo:hover, .sub-menu-sobre:hover, .sub-menu-passageiro:hover, .sub-menu-ajuda:hover, .sub-menu-empresas:hover{
    background-color: gray;
    transition: background-color 3s ease, opacity 1s ease;
}

.botoes-motorista{
    display: none;
}

.botoes-motorista a{
    display: block; 
    padding: 4px;
}

.sub-menu-motorista:hover .botoes-motorista{
    display: block;
    position: absolute;
    top: 73px;
    padding: 32px 64px 40px 40px;
    border-radius: 0px 0px 32px 32px;
    background: #FFF;      
}

.botoes-99pay{
    position: absolute;
    display: none;
}

.botoes-99pay a{
    display: block;
    padding: 4px;
}

.sub-menu-99pay:hover .botoes-99pay{
    display: block;
    position: absolute;
    top: 73px;
    padding: 32px 64px 40px 40px; 
    border-radius: 0px 0px 32px 32px;
    background: #FFF;
    border-top: none 
}

.botoes-sobre{
    position: absolute;
    display: none;
}

.botoes-sobre a{
    display: block;
    padding: 4px;
}

.sub-menu-sobre:hover .botoes-sobre{
    display: block;
    position: absolute;
    top: 73px;
    padding: 32px 64px 40px 40px; 
    border-radius: 0px 0px 32px 32px;
    background: #FFF;
    border-top: none 
}

.botoes-conteudo{
    position: absolute;
    display: none;
}

.botoes-conteudo a{
    display: block;
    padding: 4px;
}

.sub-menu-conteudo:hover .botoes-conteudo{
    display: block;
    position: absolute;
    top: 73px;
    padding: 32px 64px 40px 40px; 
    border-radius: 0px 0px 32px 32px;
    background: #FFF;
    border-top: none 
}

.box1, .lupa1{
    display: flex;
    align-items: center;
    padding: 0px;
}

.box{
    font-weight: 700 ;
    text-decoration: none ;
    color: #FFFFFF;
    background-color: #FF7B1C;
    font-size: 16px;
    padding: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.lupa{
    padding: 8px;
}       

.container{
    padding: 80px 0 0 0;    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 57px;
}
.informacoes{
    max-width: 391px;
    width: 100%;
}
.texto{
    color: #f1f1f1;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 44px;
}
.box2{
    display: flex;
    padding: 16px 24px;
    border-radius: 32px;
    max-width: 278px;
    background:  #FF7B1C;
    text-decoration: none;

    color:  #FFF;
    font-size: 20px;
    font-weight: 700;
}

.mulher-png{
    max-width: 565px;
    width: 100%;
}


.container2{
    padding: 136px 0 112px 0;
    display: flex;
    background-color: #FFFFFF;
    justify-content: center;
}


.carros-opsoes{
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;
}
.cabecalho-carros{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}
.seta{
    width: 32px;
    height: 32px;
}
.titulo-carros{
    color: #1A1B1A;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    max-width: 378px;
    width: 100%;
}

.descricao{
    padding-left: 20px;
}
.carros{
    max-width: 1120px;
    display: grid;
    padding: 0 24px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.carro{
    text-decoration: none;
    max-width: 264px;
    width: 100%;
    min-width: 264px;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carro-imagem{
    filter: grayscale(100%);
    width: 145px;
    height: 104px;
}
.carro-imagem:hover{
    filter: grayscale(0%);
}
.carro-titulo{
    color: #1A1B1A;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
.carro-descricao{
    color: #1A1B1A;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px
}
.rodape{
    padding: 56px 0px;
    background-color: #3E3E3E;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.brasil{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F1F1F1;
}
.didi{
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #FF7B1C;
	text-decoration: none;
}
.box-termos{
    display: flex;
}

.termos a:hover {
	color: #E45D01;
}
.termos,.termos a{
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-decoration: none;
    color: #F1F1F1;
    text-align: center;
}