@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background-image: url(../img/download.jpg);
    background-repeat: no-repeat;
}

.cabecalho-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    font-weight: 600;
    padding: 0px 52.8px ; 
}

ul{
    display: flex;
}

li{
    display: inline-block;
}

li a{
    color: #212121;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sub-menu-motorista, .sub-menu-99pay, .sub-menu-conteudo, .sub-menu-sobre, .sub-menu-passageiro, .sub-menu-ajuda, .sub-menu-empresas{padding: 20px 24px 20px 16px;}

.sub-menu-motorista:hover, .sub-menu-99pay:hover, .sub-menu-conteudo:hover, .sub-menu-sobre:hover, .sub-menu-passageiro:hover, .sub-menu-ajuda:hover, .sub-menu-empresas:hover{
    background-color: gray;
    transition: background-color 3s ease, opacity 1s ease;
}

.botoes-motorista{
    display: none;
}

.botoes-motorista a{
    display: block; 
    padding: 4px;
}

.sub-menu-motorista:hover .botoes-motorista{
    display: block;
    position: absolute;
    top: 73px;
    padding: 32px 64px 40px 40px;
    border-radius: 0px 0px 32px 32px;
    background: #FFF;      
}

.botoes-99pay{
    position: absolute;
    display: none;
}

.botoes-99pay a{
    display: block;
    padding: 4px;
}

.sub-menu-99pay:hover .botoes-99pay{
    display: block;
    position: absolute;
    top: 73px;
    padding: 32px 64px 40px 40px; 
    border-radius: 0px 0px 32px 32px;
    background: #FFF;
    border-top: none 
}

.botoes-sobre{
    position: absolute;
    display: none;
}

.botoes-sobre a{
    display: block;
    padding: 4px;
}

.sub-menu-sobre:hover .botoes-sobre{
    display: block;
    position: absolute;
    top: 73px;
    padding: 32px 64px 40px 40px; 
    border-radius: 0px 0px 32px 32px;
    background: #FFF;
    border-top: none 
}

.botoes-conteudo{
    position: absolute;
    display: none;
}

.botoes-conteudo a{
    display: block;
    padding: 4px;
}

.sub-menu-conteudo:hover .botoes-conteudo{
    display: block;
    position: absolute;
    top: 73px;
    padding: 32px 64px 40px 40px; 
    border-radius: 0px 0px 32px 32px;
    background: #FFF;
    border-top: none 
}

.box1, .lupa1{
    display: flex;
    align-items: center;
    padding: 0px;
}

.box{
    font-weight: 700 ;
    text-decoration: none ;
    color: #FFFFFF;
    background-color: #FF7B1C;
    font-size: 16px;
    padding: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.lupa{
    padding: 8px;
}       